[submodule "external/onnx_cpp_lib"]
	path = external/onnx_cpp_lib
	url = https://github.com/han-minhee/onnx.cpp
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
